*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 185px;
    padding: 10px;
}
.link a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: cursive;
    margin-right: 15px;
    cursor: pointer;
}
.btn1{
    padding: 15px 8px;
    background-color: transparent;
    color: white;
    border-radius: 40px;
    border: 1px solid white;
    font-size: 20px;
    margin-left: 10px;
}
.btn2{
    margin-left: 10px;
    padding: 15px 8px;
    color: white;
    background-color: #ed1c24;
    border-radius: 40px;
    border: none;
    font-size: 20px;
}
.arrow{
    background-color: white;
    border-radius: 50%;
    color: #ed1c24;
    font-weight: 800;
    padding: 3px;
}
.image img{
    width: 100%;
}
